<% var icon = _.template(require('../components/icon.html').default) %>

<dialog class="p-0 dialog dialog-xs">
  <div class="relative overflow-hidden">
    <div class="absolute bottom-0 -right-full animate-pulse">
      <span class="text-second text-[100rem] opacity-50">
        <%= icon({id: 'lines'}) %>
      </span>
    </div>
    <div class="relative flex flex-col items-center justify-center px-4 py-16 text-center sm:py-20 sm:px-8">
      <span class="mb-8 text-second text-404 sm:mb-14">
        <%= icon({id: 'like'}) %>
      </span>
      <h2 class="mb-3 font-medium text-24 leading-2">Заявка принята!</h2>
      <p class="font-normal leading-3 text-16 opacity-60">Скоро наш менеджер свяжется с вами</p>
    </div>
  </div>
</dialog>