<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)({icon: icon({id: 'loader'})})
%>

<dialog class="p-0 dialog dialog-xl">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="px-4 py-10 sm:py-16 xs:px-10 sm:px-16">
      <h2 class="font-normal leading-3 text-32 sm:text-38 lg:text-46 mb-7 xl:mb-12">Оставить заявку</h2>
      <form class="mb-6 form" data-form="submit">
        <div class="grid grid-cols-1 gap-5 xs:grid-cols-2 mb-7 lg:mb-12">
          <label class="xs:col-2 form-label" data-label="input">
            <span class="mb-3 font-medium text-16 leading-1">Формат меропрития</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <select class="input input-black input-lg" data-input="select" name="select">
                  <option value="empty" disabled hidden selected>Выберите мероприятие</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="form-icon form-icon-right text-24 opacity-40">
                <%= icon({id: 'arrow'}) %>
              </div>
              <span class="form-error" data-error>Пожалуйста, выберите меропритие!</span>
            </div>
          </label>
          <label class="xs:col-2 form-label" data-label="input">
            <span class="mb-3 font-medium text-16 leading-1">Имя</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-black input-lg" data-input="name" type="text" placeholder="Напишите имя..." name="name">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваше имя!</span>
            </div>
          </label>
          <label class="xs:col-2 form-label" data-label="input">
            <span class="mb-3 font-medium text-16 leading-1">Ваш телефон</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-black input-lg" data-input="tel" type="tel" placeholder="+ 7 (_ _ _) _ _ _ - _ _ - _ _" name="tel">
              </div>
              <span class="form-error" data-error>Пожалуйста, введите ваш номер!!</span>
            </div>
          </label>
          <label class="xs:col-2 form-label" data-label="input">
            <span class="mb-3 font-medium text-16 leading-1">Дата</span>
            <div class="form-wrapper">
              <div class="input-cover">
                <input class="input input-black input-lg" data-input="calendar" type="text" placeholder="_ _._ _._ _ _ _" name="date">
              </div>
              <div class="form-icon form-icon-right text-24 opacity-40">
                <%= icon({id: 'calendar'}) %>
              </div>
              <span class="form-error" data-error>Пожалуйста, укажите дату!</span>
            </div>
          </label>
          <div class="flex flex-col">
            <span class="mb-3 font-medium text-16 leading-1">Взрослые</span>
            <div class="quantity" data-quantity>
              <button class="text-black quantity-btn btn btn-grey btn-fill" data-quantity-decrease data-waved="dark" type="button">-</button>
              <div class="quantity-cover input-cover">
                <input class="quantity-input input" data-input="number" type="text" value="1" maxlength="3" name="quantity">
              </div>
              <button class="text-black quantity-btn btn btn-grey btn-fill" data-quantity-increase data-waved="dark" type="button">+</button>
            </div>
          </div>
          <div class="flex flex-col">
            <span class="mb-3 font-medium text-16 leading-1">Дети (от 3 до 14 лет)</span>
            <div class="quantity" data-quantity>
              <button class="text-black quantity-btn btn btn-grey btn-fill" data-quantity-decrease data-waved="dark" type="button">-</button>
              <div class="quantity-cover input-cover">
                <input class="quantity-input input" data-input="number" type="text" value="1" maxlength="3" name="quantity">
              </div>
              <button class="text-black quantity-btn btn btn-grey btn-fill" data-quantity-increase data-waved="dark" type="button">+</button>
            </div>
          </div>
        </div>
        <button class="w-full btn btn-primary btn-lg btn-fill xs:w-max" data-waved="light" type="submit">Оставить заявку на мероприятие</button>
      </form>
      <div class="cursor-pointer hover:underline underline-offset-4 text-12 leading-2 opacity-80" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">Отправляя форму, Вы даете согласие на обработку Ваших персональных данных</div>
      <div class="flex mt-3 text-12 text-second">
        <span class="mr-1">
          <%= icon({id: 'check'}) %>
        </span>
        <p class="font-normal leading-1">Бронирование считается действительным только при подтверждении хостес</p>
      </div>
    </div>
    <div class="hidden lg:block pack pack-rect-md bg-grey">
      <%= loader %>
      <%= picture({src: 'img/pictures/feedback-bg', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
    </div>
  </div>
</dialog>