<!-- Подвал -->

<footer class="container bg-primary text-white sm:pt-14 sm:pb-6" id="contacts">
  <div class="flex flex-col sm:flex-row sm:flex-wrap flex-wrap justify-between gap-10 lg:gap-20 border-b border-solid border-white border-opacity-5 pb-10 xl:pb-14 mb-4">
    <div class="flex flex-col items-start">
      <a class="btn btn-white text-left text-36 leading-3 mb-6" href="" data-waved="light">Laguna <br> Family</a>
      <span class="font-normal text-14 leading-1">Семья ресторанов</span>
    </div>
    <div class="flex flex-col items-start">
      <h3 class="font-normal text-18 sm:text-20 lg:text-24 leading-3 mb-5 sm:mb-8">Комплекс «Лагуна»</h3>
      <p class="font-normal text-14 leading-4 mb-5 sm:mb-8">г. Геленджик, Лермонтовский <br> бульвар, д. 8а</p>
      <a class="btn btn-white text-20 sm:text-22 mb-5 sm:mb-9" data-waved="light" href="tel: +7 (966) 760-99-66">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'phone'}) %>
        </span>
        +7 (966) 760-99-66
      </a>
      <a class="btn btn-white text-14" data-waved="light" href="mailto: hello@laguna-family.rest">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'email'}) %>
        </span>
        hello@laguna-family.rest
      </a>
    </div>
    <div class="flex flex-col items-start">
      <h3 class="font-normal text-18 sm:text-20 lg:text-24 leading-3 mb-5 sm:mb-8">«Клубный дом»</h3>
      <p class="font-normal text-14 leading-4 mb-5 sm:mb-8">г. Геленджик, р-н Голубая бухта, <br> ул. Стартовая, д. 1</p>
      <a class="btn btn-white text-20 sm:text-22 mb-5 sm:mb-9" data-waved="light" href="tel: +7 (928) 237-72-00">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'phone'}) %>
        </span>
        +7 (928) 237-72-00
      </a>
      <a class="btn btn-white text-14" data-waved="light" href="mailto: golfrest@laguna-family.rest">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'email'}) %>
        </span>
        golfrest@laguna-family.rest
      </a>
    </div>
    <div class="flex flex-col items-start">
      <h3 class="font-normal text-18 sm:text-20 lg:text-24 leading-3 mb-5 sm:mb-8">Организация мероприятий</h3>
      <p class="font-normal text-14 leading-4 opacity-40 mb-5 sm:mb-8">Банкетные залы для мероприятий <br> любого формата и масштаба</p>
      <a class="btn btn-white text-20 sm:text-22 mb-5 sm:mb-9" data-waved="light" href="tel: +7 (928) 203-42-00">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'phone'}) %>
        </span>
        +7 (928) 203-42-00
      </a>
      <a class="btn btn-white text-14" data-waved="light" href="mailto: event@laguna-family.rest">
        <span class="text-20 opacity-40 mr-2">
          <%= icon({id: 'email'}) %>
        </span>
        event@laguna-family.rest
      </a>
    </div>
  </div>
  <div class="flex flex-wrap items-center justify-between gap-5">
    <div class="font-normal text-14 leading-1 opacity-40">
      © <span id="year"></span> ООО ВИАС
    </div>
    <div class="font-normal text-14 leading-1">
      <span class="opacity-40">Разработка:</span> <a class="hover:underline underline-offset-4 opacity-40 hover:opacity-100 duration-2" href="https://stdkit.ru/" target="_blank">Студия К.И.Т.</a>
    </div>
  </div>
</footer>

</body>

</html>