<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<%
  var header = {
    logo: '',
    logoDark: '',
    size: 'w-auto',
    scroll: true,
    nav: [],
    tel: '',
    btn: false,
    text: ''
  }

  if (data.page === 'club') {
    header.logo = 'img/pictures/logo-club-house'
    header.logoDark = 'img/pictures/logo-club-house-dark'
    header.size = 'w-24 sm:w-36'
    header.nav = [
      {
        id: '#restaurant',
        text: 'О ресторане'
      },
      {
        id: '#menu',
        text: 'Меню'
      },
      {
        id: '#halls',
        text: 'Банкетные залы'
      },
      {
        id: '#contacts',
        text: 'Контакты'
      }
    ]
    header.tel = '8 928 237 72 00'
    header.text = 'Особая инфраструктура, не имеющая аналогов на Черноморском побережье.'
  } else if (data.page === 'laguna') {
    header.logo = 'img/pictures/logo-laguna'
    header.logoDark = 'img/pictures/logo-laguna-dark'
    header.size = 'w-32 sm:w-44'
    header.nav = [
      {
        id: '#about',
        text: 'О комплексе'
      },
      {
        id: '#events',
        text: 'События'
      },
      {
        id: '#gallery',
        text: 'Галерея'
      },
      {
        id: '#organization',
        text: 'Организация мероприятий'
      },
      {
        id: '#contacts',
        text: 'Контакты'
      }
    ]
    header.tel = '8 966 760 99 66'
    header.text = 'Лагуна Family - это место с уникальной инфраструктурой, не имеющей аналогов на Черноморском побережье'
  } else if (data.page === 'laguna-restaurant' || data.page === 'laguna-beach' || data.page === 'laguna-club') {
    header.logo = 'img/pictures/logo-laguna'
    header.logoDark = 'img/pictures/logo-laguna-dark'
    header.size = 'w-32 sm:w-44'
    header.scroll = false
    header.nav = [
      {
        id: '',
        text: 'Главная'
      },
      {
        id: '',
        text: 'Семейный ресторан'
      },
      {
        id: '',
        text: 'Бассейн с пляжным клубом'
      },
      {
        id: '',
        text: 'Ночной клуб'
      }
    ]
    header.tel = '8 966 760 99 66'
    header.btn = true
    header.text = 'Лагуна Family - это место с уникальной инфраструктурой, не имеющей аналогов на Черноморском побережье'
  } else if (data.page === 'oliva') {
    header.logo = 'img/pictures/oliva-logo'
    header.logoDark = 'img/pictures/oliva-logo-dark'
    header.size = 'w-16 sm:w-20'
    header.scroll = false
    header.nav = [
      {
        id: '',
        text: 'Главная'
      },
      {
        id: '',
        text: 'Семейный ресторан'
      },
      {
        id: '',
        text: 'Бассейн с пляжным клубом'
      },
      {
        id: '',
        text: 'Ночной клуб'
      }
    ]
    header.tel = '8 966 760 99 66'
    header.text = 'Лагуна Family - это место с уникальной инфраструктурой, не имеющей аналогов на Черноморском побережье'
  }
%>

<body>

  <!-- Прелоадер -->

  <div class="fixed inset-0 z-10 flex flex-col items-center justify-center bg-primary duration-5" data-preloader>
    <%= preloader %>
  </div>

  <% if (data.status) { %>
  <!-- Шапка документа -->

  <% if (data.page === 'index') { %>
  <header class="container fixed top-0 left-0 right-0 flex items-center justify-between gap-3 py-4 header sm:gap-6 z-3 bg-opacity-90 xl:py-8 duration-2" data-header>
    <a class="btn btn-white text-16 sm:text-20 md:text-24" data-waved="light" data-scroll href="#projects-1">Laguna Family</a>
    <div class="flex items-center sm:gap-8 lg:gap-14">
      <div class="relative" data-accordion="hidden" data-accordion-close="click">
        <button class="btn btn-white" data-accordion-toggle data-waved="light">Контакты</button>
        <div class="absolute right-0 w-64 top-7 sm:w-80" data-accordion-content>
          <div class="flex flex-col gap-4 p-4 text-white header__listing sm:gap-6 bg-primary sm:p-8">
            <div class="flex flex-col items-start gap-4 pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <%= picture({src: 'img/pictures/logo-laguna-gold', format: '.png', webp: true, classes: 'block w-24', data: false, loading: 'auto'}) %>
              <span class="font-normal text-14 leading-2">Развлекательный комплекс ЛАГУНА</span>
              <a class="btn btn-white btn-lg btn-contur" data-waved="light" draggable="false" href="">Узнать подробнее</a>
            </div>
            <div class="flex flex-col items-start gap-4 pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <%= picture({src: 'img/pictures/logo-club-house-gold', format: '.png', webp: true, classes: 'block w-24', data: false, loading: 'auto'}) %>
              <span class="font-normal text-14 leading-2">Ресторан CLUB HOUSE</span>
              <a class="btn btn-white btn-lg btn-contur" data-waved="light" draggable="false" href="">Узнать подробнее</a>
            </div>
            <div class="flex flex-col items-start gap-4 pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <span class="font-normal text-second text-16 leading-1">Laguna Family</span>
              <span class="font-normal text-14 leading-2">Организация мероприятий</span>
              <a class="btn btn-white btn-lg btn-contur" data-waved="light" draggable="false" href="">Узнать подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative hidden sm:block" data-accordion="hidden" data-accordion-close="click">
        <button class="btn btn-white" data-accordion-toggle data-waved="light">Проекты</button>
        <div class="absolute right-0 w-64 top-12 sm:w-80" data-accordion-content>
          <div class="flex flex-col gap-4 p-4 text-white header__listing sm:gap-6 bg-primary sm:p-8">
            <div class="flex flex-col items-start pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <%= picture({src: 'img/pictures/logo-laguna-gold', format: '.png', webp: true, classes: 'block w-24 mb-4', data: false, loading: 'auto'}) %>
              <span class="mb-1 font-normal text-14 leading-2 opacity-60">Развлекательный комплекс ЛАГУНА</span>
              <a class="font-medium btn btn-white" data-waved="light" draggable="false" href="tel: +7 (966) 760-99-66">+7 (966) 760-99-66</a>
            </div>
            <div class="flex flex-col items-start pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <%= picture({src: 'img/pictures/logo-club-house-gold', format: '.png', webp: true, classes: 'block w-24 mb-4', data: false, loading: 'auto'}) %>
              <span class="mb-1 font-normal text-14 leading-2 opacity-60">Ресторан CLUB HOUSE</span>
              <a class="font-medium btn btn-white" data-waved="light" draggable="false" href="tel: +7 (928) 237-72-00">+7 (928) 237-72-00</a>
            </div>
            <div class="flex flex-col items-start pb-4 border-b border-white border-solid border-opacity-10 sm:pb-6 last:pb-0 last:border-none">
              <span class="mb-4 font-normal text-second text-16 leading-1">Laguna Family</span>
              <span class="mb-1 font-normal text-14 leading-2 opacity-60">Организация мероприятий</span>
              <a class="font-medium btn btn-white" data-waved="light" draggable="false" href="tel: +7 (928) 203-42-00">+7 (928) 203-42-00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>
  <% } else if (data.page === 'oliva') { %>
  <header class="container fixed top-0 left-0 right-0 flex items-center justify-between gap-3 py-4 sm:gap-6 z-3 bg-opacity-90 duration-2" data-header>
    <a class="hidden btn btn-white sm:flex" data-waved="light" href="" target="_blank">г. Геленджик, Стартовая, 1</a>
    <a class="btn btn-white <%= header.size %>" data-waved="light" href="/">
      <%= picture({src: header.logo, format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <div class="flex flex-col items-end gap-1 sm:items-start min-w-max">
      <a class="font-bold btn btn-white text-14 sm:text-16 md:text-20 leading-1" data-waved="light" href="tel: <%= header.tel %>"><%= header.tel %></a>
      <a class="font-normal border-b border-white border-dashed btn btn-white text-12 sm:text-14 leading-1" data-waved="light" href="tel: <%= header.tel %>">Написать WhatsAp</a>
    </div>
    <button class="btn btn-white xl:hidden text-36 sm:text-48" data-sidebar-open="mobile-menu" data-waved="light">
      <%= icon({id: 'burger'}) %>
    </button>
  </header>
  <% } else { %>
  <header class="container fixed top-0 left-0 right-0 flex items-center justify-between gap-3 py-4 sm:gap-6 z-3 bg-opacity-90 xl:py-8 duration-2" data-header>
    <a class="btn btn-white <%= header.size %>" data-waved="light" href="/">
      <%= picture({src: header.logo, format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
    </a>
    <nav class="items-center justify-center hidden gap-10 mx-auto xl:flex">
      <% _.forEach((header.nav), (item) => { %>
      <a class="btn btn-white" <%= header.scroll ? 'data-scroll' : '' %> data-waved="light" href="<%= item.id %>"><%= item.text %></a>
      <% }) %>
    </nav>
    <div class="flex flex-col items-end gap-1 sm:items-start min-w-max">
      <a class="font-bold btn btn-white text-14 sm:text-16 md:text-20 leading-1" data-waved="light" href="tel: <%= header.tel %>"><%= header.tel %></a>
      <a class="font-normal border-b border-white border-dashed btn btn-white text-12 sm:text-14 leading-1" data-waved="light" href="tel: <%= header.tel %>">Написать WhatsApp</a>
    </div>
    <% if (header.btn) { %>
    <a class="hidden lg:flex btn btn-white min-w-max" data-waved="light" href="tel: +7 (966) 760-99-66">Задать вопрос</a>
    <% } %>
    <button class="btn btn-white xl:hidden text-36 sm:text-48" data-sidebar-open="mobile-menu" data-waved="light">
      <%= icon({id: 'burger'}) %>
    </button>
  </header>
  <% } %>

  <% if (data.page !== 'index') { %>
  <!-- Меню -->

  <div class="fixed inset-0 invisible opacity-0 menu z-6 duration-1" data-sidebar="close" data-sidebar-resize="xl" id="mobile-menu">
    <div class="menu__content flex flex-col bg-white invisible opacity-0 overflow-auto backdrop-blur-sm w-full max-w-[375px] h-full duration-3">
      <div class="flex items-center justify-between gap-8 p-4">
        <a class="btn btn-black <%= data.page === 'oliva' ? 'w-16' : 'w-20' %>" data-waved="light" href="/">
          <%= picture({src: header.logoDark, format: '.png', webp: true, classes: 'w-full', data: false, loading: 'auto'}) %>
        </a>
        <a class="font-bold btn btn-black text-14" data-waved="light" href="tel: <%= header.tel %>"><%= header.tel %></a>
        <button class="btn btn-black text-32 rounded-max" data-sidebar-close="mobile-menu" data-waved="light">
          <%= icon({id: 'close'}) %>
        </button>
      </div>
      <div class="flex flex-col items-start gap-8 px-4 py-10">
        <% _.forEach((header.nav), (item) => { %>
        <a class="hover:underline underline-offset-4 text-16 leading-1" <%= header.scroll ? 'data-scroll' : '' %> href="<%= item.id %>"><%= item.text %></a>
        <% }) %>
      </div>
      <div class="px-4 py-8 mt-auto text-white <%= data.page === 'oliva' ? 'bg-green' : 'bg-primary' %>">
        <div class="flex items-center pb-10 mb-10 border-b border-white border-solid gap-9 border-opacity-20">
          <%= picture({src: header.logo, format: '.png', webp: true, classes: 'w-24 min-w-[96px]', data: false, loading: 'auto'}) %>
          <p class="font-normal leading-3 text-12 opacity-40"><%= header.text %></p>
        </div>
        <div class="flex flex-col gap-10">
          <ul class="flex flex-col gap-4">
            <li class="font-medium uppercase text-16">ООО ВИАС</li>
            <li class="font-medium uppercase text-14">ИНН 7706549902</li>
            <li class="font-medium uppercase text-14">ОГРН 1047796657116</li>
          </ul>
          <div class="flex flex-col items-start">
            <h3 class="mb-6 font-normal leading-3 text-20">Навигация</h3>
            <nav class="flex flex-col items-start gap-4">
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Семейный ресторан</a>
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Бассейн с пляжным клубом</a>
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Ночной клуб</a>
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Контакты</a>
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Организация мероприятий</a>
              <a class="btn btn-white text-14 opacity-80" data-waved="light" href="">Другие проекты «Laguna Family»</a>
            </nav>
          </div>
          <div class="flex flex-col items-start">
            <h3 class="mb-6 font-normal leading-3 text-20">Контакты</h3>
            <p class="mb-5 font-normal leading-4 text-14">Россия, Краснодарский край, <br>Геленджик, Голубая бухта, ул. Стартовая 1</p>
            <div class="flex items-center justify-between gap-5 mb-5">
              <a class=" btn btn-white text-20" data-waved="light" href="tel: +7 (928) 237-72-00">
                <span class="mr-2 text-20 opacity-40">
                  <%= icon({id: 'phone'}) %>
                </span>
                +7 (928) 237-72-00
              </a>
              <% if (data.page === 'oliva') { %>
              <div class="flex items-center gap-2">
                <a class="btn btn-white rounded-max text-28" data-waved="dark" href="">
                  <%= icon({id: 'wa'}) %>
                </a>
                <a class="btn btn-white rounded-max text-28" data-waved="dark" href="">
                  <%= icon({id: 'tg'}) %>
                </a>
              </div>
              <% } %>
            </div>
            <a class="btn btn-white text-14" data-waved="light" href="mailto: golfrest@laguna-family.rest">
              <span class="mr-2 text-20 opacity-40">
                <%= icon({id: 'email'}) %>
              </span>
              golfrest@laguna-family.rest
            </a>
          </div>
          <% if (header.btn) { %>
          <a class="w-full btn btn-white btn-lg btn-contur" data-waved="light" href="tel: +7 (966) 760-99-66">Задать вопрос</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% } %>