// Меню
.menu {
  &[data-sidebar="open"] {
    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__content {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__head {
    transform: translateY(0);
  }

  &[data-sidebar="open"] &__nav {
    transform: translateX(0);

    @apply visible opacity-100;
  }

  &[data-sidebar="open"] &__footer {
    transform: translateY(0);

    @apply visible opacity-100;
  }

  &__content {
    box-shadow: 0 0 0 100vw theme("colors.black.DEFAULT / 50%");
    transform : translateX(-100%);
  }

  &__head {
    transform: translateY(-80px);
  }

  &__nav {
    transform: translateX(-220px);
  }

  &__footer {
    transform: translateY(-50px);
  }
}

// Главный блок
.main {
  &__bg {
    &::after {
      background-image: linear-gradient(180deg, theme("colors.black.DEFAULT") 0%, transparent 100%);

      @apply content-auto absolute top-0 left-0 right-0 w-full h-52;
    }
  }

  &__gradient {
    &::before {
      background-image: linear-gradient(180deg, theme("colors.primary.DEFAULT / 70%") 0%, transparent 100%);

      @apply content-auto absolute z-1 top-0 left-0 right-0 w-full h-52;
    }

    &::after {
      background-image: linear-gradient(180deg, theme("colors.black.DEFAULT / 20%") 0%, theme("colors.primary.DEFAULT") 100%);

      @apply content-auto absolute inset-0;
    }
  }
}

// Услуги
.services {
  &__gradient {
    background-image: linear-gradient(180deg, transparent 0%, theme("colors.black.DEFAULT") 100%);
  }

  &__square {
    background-image: radial-gradient(336.9% 105.08% at 0% 100%, theme("colors.white.DEFAULT / 30%") 29.69%, transparent 100%), linear-gradient(180deg, theme("colors.white.DEFAULT / 20%") 0%, transparent 100%);
  }
}