// Главный блок
.main {
  &__bg {
    &::after {
      background-image: linear-gradient(180deg, theme("colors.black.DEFAULT") 0%, transparent 100%);

      @apply content-auto absolute top-0 left-0 right-0 w-full h-52;
    }
  }
}

// Услуги
.services {
  &__gradient {
    background-image: linear-gradient(180deg, transparent 0%, theme("colors.black.DEFAULT") 100%);
  }

  &__square {
    background: radial-gradient(336.9% 105.08% at 0% 100%, theme("colors.white.DEFAULT / 30%") 29.69%, transparent 100%), linear-gradient(180deg, theme("colors.white.DEFAULT / 20%") 0%, transparent 100%);
  }
}