<%
  var data = {
    page: 'index',
    title: 'Laguna family',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="main container flex items-center justify-center relative bg-primary overflow-hidden min-h-[600px] sm:min-h-[700px] lg:min-h-[800px] xl:min-h-[960px]">
  <div class="main__bg absolute inset-0">
    <div class="pack h-full duration-10 anim anim-decrease" data-anim="hidden">
      <%= picture({src: 'img/pictures/main-bg', format: '.png', webp: true, classes: 'image', data: false, loading: 'eager'}) %>
    </div>
  </div>
  <div class="relative">
    <div class="flex items-center justify-center absolute -top-14 lg:-top-24 left-0 right-0 ease-linear duration-8 anim anim-circle" data-anim="hidden">
      <%= picture({src: 'img/pictures/main-circle', format: '.png', webp: true, classes: 'block w-44 lg:w-72 h-44 lg:h-72', data: false, loading: 'eager'}) %>
    </div>
    <div class="flex flex-col items-center justify-center relative text-center text-white">
      <h1 class="font-light text-40 sm:text-50 lg:text-title leading-1 mb-3 sm:mb-0 ease-linear duration-10 clip-path clip-path-left" data-anim="hidden">Laguna Family</h1>
      <h3 class="font-normal text-14 sm:text-16 leading-1 ease-linear duration-10 delay-3 clip-path clip-path-right" data-anim="hidden">Семья ресторанов</h3>
    </div>
  </div>
</main>

<!-- Услуги -->

<% var services = [
  {
    icon: 'chef',
    text: 'Ресторан'
  },
  {
    icon: 'water',
    text: 'Бассейн'
  },
  {
    icon: 'moon',
    text: 'Ночной клуб'
  }
] %>

<section class="services container bg-primary text-white overflow-hidden xl:px-7" id="projects">
  <h2 class="font-normal text-center text-36 sm:text-42 lg:text-subtitle leading-3 mb-2 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">Развлекательный комплекс ЛАГУНА</h2>
  <h3 class="font-normal text-center text-16 sm:text-20 lg:text-24 opacity-60 leading-3 mb-6 sm:mb-8 lg:mb-12 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">Пространство для отдыха и развлечения всей семьи</h3>
  <div class="services-slider mb-7 sm:mb-12">
    <div class="swiper overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < services.length; i++) { %>
        <a class="swiper-slide h-full" href="">
          <div class="pack pack-box sm:pack-rect-lg lg:pack-[70] bg-grey h-full" data-movement="light">
            <%= loader %>
            <%= picture({src: 'img/pictures/service', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
            <div class="services__gradient flex items-end absolute inset-0 pointer-events-none p-4 lg:p-8">
              <div class="flex items-center text-white">
                <div class="services__square flex items-center justify-center text-26 lg:text-40 backdrop-blur-md w-10 lg:w-16 min-w-[40px] lg:min-w-[64px] h-10 lg:h-16 mr-3 lg:mr-6">
                  <%= icon({id: services[i].icon}) %>
                </div>
                <h4 class="font-medium text-20 lg:text-24 leading-1"><%= services[i].text %></h4>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </div>
      <div class="swiper-pagination md:hidden text-white mt-6"></div>
    </div>
  </div>
  <a class="btn btn-white btn-lg btn-contur w-max mx-auto" data-waved="light" href="">Узнать подробнее</a>
</section>

<!-- Услуги -->

<% var services = [
  {
    icon: 'chef',
    text: 'Ресторан'
  },
  {
    icon: 'glass',
    text: 'Винный погреб'
  },
  {
    icon: 'chair',
    text: 'Банкетный зал'
  }
] %>

<section class="services container overflow-hidden xl:px-7">
  <h2 class="font-normal text-center text-36 sm:text-42 lg:text-subtitle leading-3 mb-2 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">Ресторан CLUB HOUSE</h2>
  <h3 class="font-normal text-center text-16 sm:text-20 lg:text-24 opacity-60 leading-3 mb-6 sm:mb-8 lg:mb-12 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">в Геленджик Гольф Резорт</h3>
  <div class="services-slider mb-7 sm:mb-12">
    <div class="swiper overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < services.length; i++) { %>
        <a class="swiper-slide h-full" href="">
          <div class="pack pack-box sm:pack-rect-lg lg:pack-[70] bg-grey h-full" data-movement="light">
            <%= loader %>
            <%= picture({src: 'img/pictures/service', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
            <div class="services__gradient flex items-end absolute inset-0 pointer-events-none p-4 lg:p-8">
              <div class="flex items-center text-white">
                <div class="services__square flex items-center justify-center text-26 lg:text-40 backdrop-blur-md w-10 lg:w-16 min-w-[40px] lg:min-w-[64px] h-10 lg:h-16 mr-3 lg:mr-6">
                  <%= icon({id: services[i].icon}) %>
                </div>
                <h4 class="font-medium text-20 lg:text-24 leading-1"><%= services[i].text %></h4>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-primary mt-6"></div>
  </div>
  <a class="btn btn-black btn-lg btn-contur w-max mx-auto" data-waved="dark" href="">Узнать подробнее</a>
</section>

<!-- Услуги -->

<% var services = [
  {
    icon: 'heart',
    text: 'Свадьбы'
  },
  {
    icon: 'confetti',
    text: 'Дни рождения'
  },
  {
    icon: 'wine',
    text: 'Корпоративы'
  }
] %>

<section class="services container bg-grey overflow-hidden xl:px-7">
  <h2 class="font-normal text-center text-36 sm:text-42 lg:text-subtitle leading-3 mb-2 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">Организация мероприятий</h2>
  <h3 class="font-normal text-center text-16 sm:text-20 lg:text-24 opacity-60 leading-3 mb-6 sm:mb-8 lg:mb-12 ease-linear duration-8 clip-path clip-path-down" data-anim="hidden">Банкетные залы</h3>
  <div class="services-slider mb-7 sm:mb-12">
    <div class="swiper overflow-visible">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < services.length; i++) { %>
        <a class="swiper-slide h-full" href="">
          <div class="pack pack-box sm:pack-rect-lg lg:pack-[70] bg-grey h-full" data-movement="light">
            <%= loader %>
            <%= picture({src: 'img/pictures/service', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
            <div class="services__gradient flex items-end absolute inset-0 pointer-events-none p-4 lg:p-8">
              <div class="flex items-center text-white">
                <div class="services__square flex items-center justify-center text-26 lg:text-40 backdrop-blur-md w-10 lg:w-16 min-w-[40px] lg:min-w-[64px] h-10 lg:h-16 mr-3 lg:mr-6">
                  <%= icon({id: services[i].icon}) %>
                </div>
                <h4 class="font-medium text-20 lg:text-24 leading-1"><%= services[i].text %></h4>
              </div>
            </div>
          </div>
        </a>
        <% } %>
      </div>
    </div>
    <div class="swiper-pagination md:hidden text-primary mt-6"></div>
  </div>
  <a class="btn btn-black btn-lg btn-contur w-max mx-auto" data-waved="dark" href="">Узнать подробнее</a>
</section>

<%= footer({data, loader, icon, picture}) %>