<%
  var data = {
    page: 'laguna-club',
    title: 'Laguna club',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon({id: 'loader'})})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var events = _.template(require('./includes/events.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Главный блок -->

<main class="main container flex items-center justify-center relative bg-primary overflow-hidden min-h-screen sm:min-h-[700px] lg:min-h-[800px] xl:min-h-[990px] pt-36 lg:pt-52">
  <div class="absolute inset-0 main__gradient">
    <div class="h-full pack duration-10 anim anim-decrease" data-anim="hidden">
      <%= loader %>
      <%= picture({src: 'img/pictures/club-bg-laguna', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
    </div>
  </div>
  <div class="relative flex flex-col items-center justify-center text-center text-white z-1">
    <%= picture({src: 'img/pictures/club-logo-laguna', format: '.png', webp: true, classes: 'block w-full max-w-[230px] lg:max-w-[420px] mb-16 lg:mb-20 xl:mb-44 ease-linear duration-4 anim anim-up', data: 'data-anim="hidden"', loading: 'auto'}) %>
    <h1 class="mb-10 font-normal leading-3 ease-linear text-32 sm:text-40 lg:text-subtitle sm:mb-8 duration-4 delay-1 anim anim-up" data-anim="hidden">Ночной клуб LAGUNA</h1>
    <div class="ease-linear duration-6 delay-3 anim anim-up" data-anim="hidden">
      <button class="text-black btn btn-white btn-lg btn-fill btn-glow" data-waved="dark" data-fancybox-feedback data-type="ajax" data-src="dialogs/dialog-feedback.html">Забронировать столик</button>
    </div>
  </div>
</main>

<!-- Ночной клуб -->

<section class="container relative overflow-hidden container-xs" id="halls">
  <div class="container container-xs absolute inset-0 xxl:max-w-[1920px] xxl:mx-auto sm:px-5 xl:px-20 duration-6 anim anim-left" data-anim="hidden">
    <div class="pack pack-rect-lg bg-grey w-full max-w-[1000px] sm:h-full">
      <%= loader %>
      <%= picture({src: 'img/pictures/club', format: '.jpg', webp: true, classes: 'image', data: false, loading: 'lazy'}) %>
    </div>
  </div>
  <div class="relative bg-white sm:w-full sm:max-w-[540px] pt-2 sm:pb-2 sm:pl-2 pr-2 mt-64 sm:mt-5 xl:mt-20 sm:mb-5 xl:mb-20 mr-2 sm:mr-0 sm:ml-auto duration-6 anim anim-right" data-anim="hidden">
    <div class="px-4 py-6 border border-solid border-second sm:py-10 xl:py-16 sm:px-8">
      <h2 class="mb-8 font-normal leading-3 text-32 sm:text-38 lg:text-46 sm:mb-10">Ночной клуб</h2>
      <p class="mb-5 font-normal leading-4 text-14 sm:text-16">
        Ночной клуб располагается на верхнем этаже развлекательного комплекса. С летней террасы открывается вид на ночную бухту Геленджика.
      </p>
      <p class="mb-5 font-normal leading-4 text-14 sm:text-16">
        Лучшие DJ и артисты, контактный бар с большой коктейльной картой и яркие вечеринки сделают ваш вечер незабываемым!
      </p>
      <p class="mb-8 font-normal leading-4 text-14 sm:text-16 sm:mb-10">
        Для комфортного отдыха гостей в клубе есть зона с ресторанной посадкой, а также vip-комнаты с отдельной террасой.
      </p>
      <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
        <a class="btn btn-primary btn-lg btn-fill" data-waved="dark" href="">Меню</a>
        <a class="btn btn-primary btn-lg btn-contur" data-waved="light" href="">Барная карта</a>
      </div>
    </div>
  </div>
</section>

<!-- События -->

<%= events({loader, icon, picture, theme: 'dark', title: 'Афиша мероприятий ресторана'}) %>

<!-- Галерея -->

<% var gallery = [
  {
    col: '',
    row: 'row-2 sm:row-1'
  },
  {
    col: '',
    row: 'row-2 sm:row-1'
  },
  {
    col: 'col-2 xl:col-1',
    row: 'row-3 sm:row-1'
  },
  {
    col: 'col-2 xl:col-3',
    row: 'row-3 sm:row-2'
  },
  {
    col: '',
    row: 'row-4 sm:row-2'
  },
  {
    col: '',
    row: 'row-2 sm:row-1'
  },
  {
    col: '',
    row: 'row-4 sm:row-2'
  },
  {
    col: '',
    row: 'row-2 sm:row-1'
  }
] %>

<section class="container container-xs">
  <h2 class="mb-8 font-normal leading-3 text-center sm:text-left text-32 sm:text-38 lg:text-46 sm:mb-12 duration-6 anim anim-up" data-anim="hidden">Галерея событий</h2>
  <div class="grid grid-cols-2 xl:grid-cols-3 grid-flow-dense auto-rows-[50px] sm:auto-rows-[180px] md:auto-rows-[250px] gap-2 sm:gap-4">
    <% for (var i = 0; i < gallery.length; i++) { %>
    <div class="<%= gallery[i].col %> <%= gallery[i].row %> duration-6 anim anim-up" data-anim="hidden">
      <a class="h-full pack bg-grey" data-movement="light" data-fancybox="gallery" href="img/pictures/beach.jpg">
        <%= loader %>
        <%= picture({src: 'img/pictures/beach', format: '.jpg', webp: true, classes: 'image image-rise', data: false, loading: 'lazy'}) %>
        <% if (i === 3) { %>
        <div class="absolute inset-0 flex items-center justify-center bg-black pointer-events-none bg-opacity-40">
          <button class="bg-white btn btn-second text-50 md:text-404 rounded-max" data-waved="light">
            <span class="-m-2 md:-m-5">
              <%= icon({id: 'play'}) %>
            </span>
          </button>
        </div>
        <% } %>
      </a>
    </div>
    <% } %>
  </div>
</section>

<%= footer({data, loader, icon, picture}) %>